<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @employee.nombre %>
</p>

<p>
  <strong>Vehiculo:</strong>
  <%= @employee.vehiculo %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @employee.placa %>
</p>

<p>
  <strong>Cel:</strong>
  <%= @employee.cel %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
