<p id="notice"><%= notice %></p>

<h1>Vehiculos</h1>

<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Vehiculo</th>
      <th>Placa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehiculos.each do |vehiculo| %>
      <tr>
        <td><%= vehiculo.marca %></td>
        <td><%= vehiculo.vehiculo %></td>
        <td><%= vehiculo.placa %></td>
        <td><%= link_to 'Show', vehiculo %></td>
        <td><%= link_to 'Edit', edit_vehiculo_path(vehiculo) %></td>
        <td><%= link_to 'Destroy', vehiculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehiculo', new_vehiculo_path %>
