<%= form_with(model: solicitud, local: true) do |form| %>
  <% if solicitud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solicitud.errors.count, "error") %> prohibited this solicitud from being saved:</h2>

      <ul>
      <% solicitud.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :solicitud_fecha %>
  </div>

  <div class="field">
    <%= form.label :Transportista %>
    <%= form.collection_select :nombre, User.all, :id, :nombre %>
    </div>
    
    <div class="field">
    <%= form.label :actualizar_pedido %>
    <%= form.select :td, [['BODEGA','1'], ['TRANSPORTADOR','2']], class: 'form-control'%>
  </div>

        

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
