<p id="notice"><%= notice %></p>

<h1>Solicituds</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicituds.each do |solicitud| %>
      <tr>
        <td><%= solicitud.fecha %></td>
        <td><%= link_to 'Show', solicitud %></td>
        <td><%= link_to 'Edit', edit_solicitud_path(solicitud) %></td>
        <td><%= link_to 'Destroy', solicitud, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solicitud', new_solicitud_path %>
