<p id="notice"><%= notice %></p>

<h1>Cargas</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Placa</th>
      <th>Campana</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cargas.each do |carga| %>
      <tr>
        <td><%= carga.fecha %></td>
        <td><%= carga.placa %></td>
        <td><%= carga.campana %></td>
        <td><%= link_to 'Show', carga %></td>
        <td><%= link_to 'Edit', edit_carga_path(carga) %></td>
        <td><%= link_to 'Destroy', carga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carga', new_carga_path %>
