<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @carga.fecha %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @carga.placa %>
</p>

<p>
  <strong>Campana:</strong>
  <%= @carga.campana %>
</p>

<%= link_to 'Edit', edit_carga_path(@carga) %> |
<%= link_to 'Back', cargas_path %>
