<%= form_with(model: ingresopedido, local: true) do |form| %>
  <% if ingresopedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingresopedido.errors.count, "error") %> prohibited this ingresopedido from being saved:</h2>

      <ul>
      <% ingresopedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Ndefactura %>
    <%= form.text_field :Ndefactura, id: :ingresopedido_Ndefactura %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
