<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :Nombre, id: :pedido_Nombre %>
  </div>

  <div class="field">
    <%= form.label :Direccion %>
    <%= form.text_field :Direccion, id: :pedido_Direccion %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono, id: :pedido_telefono %>
  </div>

  <div class="field">
    <%= form.label :campana %>
    <%= form.text_field :campana, id: :pedido_campana %>
  </div>

  <div class="field">
    <%= form.label :placa %>
    <%= form.text_field :placa, id: :pedido_placa %>
  </div>

  <div class="field">
    <%= form.label :zona %>
    <%= form.text_field :zona, id: :pedido_zona %>
  </div>

  <div class="field">
    <%= form.label :ncaja %>
    <%= form.text_field :ncaja, id: :pedido_ncaja %>
  </div>

  <div class="field">
    <%= form.label :tipo_de_pedido %>
    <%= form.collection_select :id, Tpedido.all, :id, :tipopedido %>
    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
