<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nfactura %>
    <%= form.text_field :nfactura, id: :pedido_nfactura %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :pedido_nombre %>
  </div>

  <div class="field">
    <%= form.label :campana %>
    <%= form.text_field :campana, id: :pedido_campana %>
  </div>

  <div class="field">
    <%= form.label :zona %>
    <%= form.text_field :zona, id: :pedido_zona %>
  </div>

  <div class="field">
    <%= form.label :nidentificacion %>
    <%= form.text_field :nidentificacion, id: :pedido_nidentificacion %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono, id: :pedido_telefono %>
  </div>

  <div class="field">
    <%= form.label :tipodepedido %>
    <%= form.text_field :tipodepedido, id: :pedido_tipodepedido %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
