<p id="notice"><%= notice %></p>

<h1>Pedidos</h1>

<table id="pedidos">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Campana</th>
      <th>Placa</th>
      <th>Zona</th>
      <th>Ncaja</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.Nombre %></td>
        <td><%= pedido.Direccion %></td>
        <td><%= pedido.telefono %></td>
        <td><%= pedido.campana %></td>
        <td><%= pedido.placa %></td>
        <td><%= pedido.zona %></td>
        <td><%= pedido.ncaja %></td>
        <td><%= link_to 'Show', pedido %></td>
        <td><%= link_to 'Edit', edit_pedido_path(pedido) %></td>
        <td><%= link_to 'Destroy', pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedido', new_pedido_path %>
