<p id="notice"><%= notice %></p>

<h1>Pedidos</h1>

<h2>Import Excel Data</h2>
<%= form_tag import_pedidos_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table id="datatable" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Numero de factura</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Campana</th>
      <th>Placa</th>
      <th>Zona</th>
      <th>Ncaja</th>
      <th>Tipo de pedido</th>
      <th>Estado</th>
      <th>Opciones</th>
     
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.nfactura %></td>
        <td><%= pedido.Nombre %></td>
        <td><%= pedido.Direccion %></td>
        <td><%= pedido.telefono %></td>
        <td><%= pedido.campana %></td>
        <td><%= pedido.placa %></td>
        <td><%= pedido.zona %></td>
        <td><%= pedido.ncaja %></td>
        <td><%= pedido.tpedido_id %></td>
        <td><%= pedido.estado_id %></td>
        <td><%= link_to 'Mostrar', pedido %>
        <%= link_to 'Editar', edit_pedido_path(pedido) %>
        <%= link_to 'Eliminar', pedido, method: :delete, data: { confirm: '¿Estas seguro?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  Download:
  <%#= link_to "CSV", pedidos_url(format: "csv") %> |
  <%= link_to "Excel File", pedidos_url(format: "xls") %>
</p>

<br>

<%= link_to 'New Pedido', new_pedido_path %>

