<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pedido.Nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @pedido.Direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @pedido.telefono %>
</p>

<p>
  <strong>Campana:</strong>
  <%= @pedido.campana %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @pedido.placa %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @pedido.zona %>
</p>

<p>
  <strong>Ncaja:</strong>
  <%= @pedido.ncaja %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
