<%= form_with(model: tpedido, local: true) do |form| %>
  <% if tpedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tpedido.errors.count, "error") %> prohibited this tpedido from being saved:</h2>

      <ul>
      <% tpedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tipopedido %>
    <%= form.text_field :tipopedido, id: :tpedido_tipopedido %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
